* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(../images/bookBack.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(255, 255, 255, .3);
    color: white;
    border-radius: 10px;
    padding: 30px;
    margin-right: -820px;
    margin-bottom: -80px;
    /* margin-top: -300px; */
    position: fixed
}

.container h1 {
    text-align: center;
    font-size: 30px;
    color: cadetblue;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Tilt Prism', cursive;
    text-shadow: 0 0 50px rgba(255, 255, 255, .5);
}

.container .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative;
}

.container input {
    width: 100%;
    height: 100%;
    background: #e8f0fe;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    border-radius: 5px;
    font-size: 15px;
    color: black;
    padding: 20px 40px 20px 20px;
    text-align: center;
}

.container input::placeholder {
    color: black;
}


.container .btn {
    width: 100%;
    height: 45px;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(255, 255, 255, .3);
    cursor: pointer;
    font-size: 16px;
    color: cadetblue;
    font-weight: 600;
}

.container .register {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}

.container p a {
    font-weight: 600;
    color: cadetblue;
    text-decoration: underline;
}

.container p a:hover {
    text-decoration: none;
    color: white;
}

.input-box i {
    color: black;
    position: absolute;
    right: 50px;
    transform: translateY(14px);
    font-size: 16px
}